.nav__header{
	background-color: #FFF0ED;
	display: flex;
	text-align: center;
}
.nav__header__company-logo{
	margin: 0;
	padding: 0;
}
.nav__header-img{
	min-width: 3.125rem;
	max-width: 7.5rem;
	padding: 1rem 0;
	margin-left: 1rem;
	text-align: center;
}
.nav__header__company-name{
	margin: 0;
	padding: 1rem  0;
	vertical-align: top;
	text-align: center;
}
.nav__header__link-block{
	text-align: center;
}
.nav__header__links{
	margin: 1.75rem 0 ;
	padding: 0 2rem ;
	display: flex;
	flex-direction: row;
	text-align: center;
}
.nav__header__link-text{
	padding:  1rem;
	text-decoration: none;
	color: #393939;
  font-size: 1.3125rem;
  font-weight: 400;
}
.nav__header__link-text--blue{
	color: #5BACC3;

}
.hero__block{
	background-color: #FFF0ED;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding: 0 5.5rem;
}
.hero__block__text-container{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-right: 38%;
}
.hero__block__title{
	margin: 0;
	font-size: 2.75rem;
}
.hero__block__info{
	margin: 2rem 0;
}
.btn__border{
	border: 0.2rem solid black;
	position: relative;

}
.btn__style{
    background-color: #5BACC3;
		position:relative;
    padding: 1rem 1rem;
    min-width: 11.25rem;
    max-width: 80%;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 300;
		display:inline-block;
		text-align: center;
		top: 1rem;
		left: 1rem;
}
.btn{
	text-decoration: none;
	margin:  0;
}
.mc{
	background-color: #F7F7F7;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.mc__title{
	font-size: 3rem;
}
.mc__card-container{
	display: flex;
	justify-content: center;
	align-items: center;
}
.mc__card{
	background-color: #FFFF;
	width: 10.25rem;
	height: 32.125rem;
	margin: 0 2.25rem 2.5rem 2.25rem;
	padding: 0 4rem;
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	box-shadow: 0 1rem 1rem 0 rgba(0,	0, 0, 0.5);
	border-radius: 1rem;
}
.mc__card__img{
	min-height: 240px;
	max-height: 550px;
	text-align: center;
	padding: 1rem;
}
.mc__card__img--cold-brew{
	width: 132px;
	height: 292px;
	justify-content: center;
	padding: 1rem 1rem 0rem 1rem;
}
.mc__card__info{
	font-size: 1.25rem;
	padding-top: 1rem;
}
.btn__style--mc{
	margin: 2rem 0;
}
.mc__promo{
	background-color: #393939;
	max-height: max-content;
	max-width: 90%;
	color:white;
	height: 40px;
	padding: 2rem 1rem;
	text-align: center;
	margin: 8rem 8rem;
}
.mc__promo__info{
	font-size: 2rem;
	margin: 0;
	width:inherit;
}
.header-properties {
    background-color: #FFF0ED;
}
.feature-product{
    background-color: #FFF0ED;
}
.product-img{
    min-height: 15rem;
    max-height: 34.375rem;
}
.product-price{
    color: #5BACC3;
}
.discount-banner{
    min-width: fit-content;
    max-width: 90%;
    background-color: #393939;
    color:white;
    text-align: center;
}
.ft{
	background-color: #FFF0ED;
	display: flex;
	justify-content: center;
}
.ft__info-block{
	margin: 2rem 8rem;
}
.ft__info{
	margin: 0;
}
.ft__icon{
	min-width: 50px;
	max-width: 120px;
}
.button-properties{
    background-color: #5BACC3;
    padding: 1rem 1.25rem;
    min-width: 11.25rem;
    max-width: 80%;
    outline: none;
    border: none;
    color: white;
    font-size: 1.313rem;
    font-weight: 300;
}
li{
    list-style-type: none;
}
